{% extends "base.html" %}
{% load static %}
{% block content %}

    <head>

        <style>

            :root {
                --footer-color: green;
            }

            estado {
                border-radius: 10px;
                margin: 20px;
                padding: 5px;
                background-color: var(--footer-color);
            }





        </style>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>



    </head>

    <div class="container" align="center">
        <div class="form-row" align="center">
            <div class="form-group" style="max-width: 500px" align="center">
                <form method="post">
                    {% csrf_token %}
                    <h2><textarea id="elTitulo" value="{{ anItem.nombre }}">{{ anItem.nombre }} </textarea> </h2>
                    <button onclick="guardarTitulo()">Guardar nombre</button>
                </form>
            </div>

            <div class="form-group" style="max-width: 500px; padding-left: 60px;" align="center">
                <h2><estado> <font color="white"><var id="myEstado">{{ anItem.estado }}</var> </font> </estado> </h2>
            </div>


            <div class="form-group" style="max-width: 500px" align="center">


                <form method="post">

                    {% csrf_token %}

                    <div class="dropdown" style="margin-top: 15px;border-collapse: collapse">
                        <button id="dropEstado" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"></button>
                        <ul class="dropdown-menu">
                            <li><a onclick="cambiarEstado('Disponible')" href="" >Disponible</a></li>
                            <li><a onclick="cambiarEstado('En prestamo')" href="">En prestamo</a></li>
                            <li><a onclick="cambiarEstado('En reparacion')" href="">En reparacion</a></li>
                            <li><a onclick="cambiarEstado('Perdido')" href="">Perdido</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>


        <div class="form-row" align="center">

            <div class="form-group col" style="max-width: 500px" align="center">
                <p style="margin-top: 20px;"> <img src="{% get_media_prefix %}{{ anItem.imagen }}" width="300" height="300">  </p>

                <form method="post">
                    {% csrf_token %}
                    <div class="container" align="center" style="padding-left: 100px">
                        <div class="form-row" align="center">
                            <div class="form-group" align="center">
                                <label>Cambiar imagen:</label><input id="image_to_upload" name="image_to_upload" type="file"/>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>


        <div class="form-row" align="center">
            <div class="form-group" style="max-width: 400px" align="center">

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <textarea id="laDescripcion" contenteditable="true" style="min-width: 400px; min-height: 100px; border:2px dashed #555;border-radius: 10px; padding: 5px;" align="justify" value="{{ anItem.descripcion}}">{{ anItem.descripcion}} </textarea>

                    <button onclick="guardarDescripcion()" >Guardar descripción</button>
                </form>
            </div>
        </div>
    </div>


    <input type="hidden" id="idObjeto" value={{anItem.id}} />


    <script>
        function guardarTitulo(){

            var itemId = document.getElementById("idObjeto").value ;
            var tituloNuevo = document.getElementById("elTitulo").value;

            $.ajax({
                url: '/articulos/ajax/guardar_titulo/',
                data: {
                    'id': itemId,
                    'nombre': tituloNuevo,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                type : "POST",
                dataType: 'json',
                success: function (data) {
                    alert(data.a_message);
                }
            });
        }
    </script>




    <script>
        function guardarDescripcion(){
            var itemId = document.getElementById("idObjeto").value ;
            var descripcionNueva = document.getElementById("laDescripcion").value;
            $.ajax({
                url: '/articulos/ajax/guardar_descripcion/',
                data: {
                    'id': itemId,
                    'descripcion': descripcionNueva,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                type : "POST",
                dataType: 'json',
                success: function (data) {
                    alert(data.a_message);
                }
            });
        }
    </script>


    <script>
        function cambiarEstado(nuevoEstado){
            var itemId = document.getElementById("idObjeto").value ;
            $.ajax({
                url: '/articulos/ajax/cambiar_estado/',
                data: {
                    'id': itemId,
                    'estado': nuevoEstado,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                type : "POST",
                dataType: 'json',
                success: function (data) {
                    alert(data.a_message);
                }
            });
        }
    </script>


    <script>
        var estado = document.getElementById("myEstado").innerText;
        if(estado=="En reparacion") {
            document.documentElement.style.setProperty('--footer-color', 'blue');
        }
        else if(estado=="En prestamo"){
            document.documentElement.style.setProperty('--footer-color', 'red');
        }
        else if(estado=="Perdido"){
            document.documentElement.style.setProperty('--footer-color', 'black');
        }
    </script>



    <script type="text/javascript">
        jQuery.noConflict();
        formdata = new FormData();
        jQuery("#image_to_upload").on("change", function() {
            var file = this.files[0];
            var itemId = document.getElementById("idObjeto").value ;
            if (formdata) {
                formdata.append("image", file);
                formdata.append("id",itemId);
                formdata.append('csrfmiddlewaretoken','{{ csrf_token }}');
                jQuery.ajax({
                    url: '/articulos/ajax/cambiar_imagen/',
                    type: "POST",
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        alert(data.a_message);
                        location.reload();
                    }
                });
            }
        });
    </script>


{% endblock %}