{% extends "navbar.html" %}
{% load static %}
{% block title %}CEI - Artículos{% endblock %}
{% block body %}
    {% if modo == 'avanzado' %}
    <div class="container">
        <div class="alert alert-secondary" role="alert">
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="nombre" placeholder="ej: parlante">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="tipo">Tipo</label>
                        <select name="tipo" id="tipo" class="form-control">
                            <option selected>Tipo</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="estado">Disponibilidad</label>
                        <select name="estado" id="estado" class="form-control">
                            <option selected value="any">Cualquiera</option>
                            <option value="Disponible">Disponible</option>
                            <option value="En prestamo">En préstamo</option>
                            <option value="En reparacion">En reparación</option>
                            <option value="Perdido">Perdido</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col text-right">
                        <button name="modo" id="modo" value="0" class="btn btn-link">Búsqueda Simple</button>
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% else %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col">
                    <div class="input-group">
                        <input type="text" class="form-control" name="nombre" id="nombre" placeholder="ej: parlante">
                        <div class="input-group-append">
                            <input type="submit" class="btn btn-primary" value="Buscar">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col text-right">
                    <button name="modo" id="modo" value="1" class="btn btn-link">Búsqueda Avanzada</button>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
    {% if busqueda %}
        <div class="container">
        <div class="row border-bottom">
        <div class="col"><h2>Resultados</h2></div>
        </div>
        <div class="row">
            {% for articulo in busqueda %}
                <div class="col">
                    <a href="#">
                        <div class="card" style="width: 195px;margin-top:10px;">
                        <img class="card-img-top" src="{% get_media_prefix %}{{ articulo.imagen }}" style="width:195px;height:100px;">
                        <div class="card-body" style="padding-top:0;padding-bottom:0;padding-left:8px;">
                            {% if articulo.estado == "Disponible" %}
                                <svg width="10" height="10">
                                    <circle cx="5" cy="5" r="5" fill="green" style="display:inline-block;"/>
                                </svg>
                            {% elif articulo.estado == "En prestamo" %}
                                <svg width="10" height="10">
                                    <circle cx="5" cy="5" r="5" fill="yellow" style="display:inline-block;"/>
                                </svg>
                            {% else %}
                                <svg width="10" height="10">
                                    <circle cx="5" cy="5" r="5" fill="red" style="display:inline-block;"/>
                                </svg>
                            {% endif %}
                        {{ articulo.nombre }}
                        </div>
                        </div>
                     </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if populares %}
        <div class="container">
        <div class="row border-bottom">
        <div class="col"><h2>Top Pedidos</h2></div>
        </div>
        <div class="row">
            {% for articulo in populares %}
                <div class="col">
                    <a href="#">
                        <div class="card" style="width: 195px;margin-top:10px;">
                        <img class="card-img-top" src="{% get_media_prefix %}{{ articulo.imagen }}" style="width:195px;height:100px;">
                        <div class="card-body" style="padding-top:0;padding-bottom:0;padding-left:8px;">
                            {% if articulo.estado == "Disponible" %}
                                <svg width="10" height="10">
                                    <circle cx="5" cy="5" r="5" fill="green" style="display:inline-block;"/>
                                </svg>
                            {% elif articulo.estado == "En prestamo" %}
                                <svg width="10" height="10">
                                    <circle cx="5" cy="5" r="5" fill="yellow" style="display:inline-block;"/>
                                </svg>
                            {% else %}
                                <svg width="10" height="10">
                                    <circle cx="5" cy="5" r="5" fill="red" style="display:inline-block;"/>
                                </svg>
                            {% endif %}
                        {{ articulo.nombre }}
                        </div>
                        </div>
                     </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>
{% endblock %}