{% extends "navbar.html" %}
{% load static %}
{% block body %}

    <head>

        <style>

            :root {
                --footer-color: green;
            }

            estado {
                border-radius: 10px;
                margin: 20px;
                padding: 5px;
                background-color: var(--footer-color);
            }


        </style>



    </head>




    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment-with-locales.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://rawgit.com/tempusdominus/bootstrap-4/master/build/js/tempusdominus-bootstrap-4.min.js"></script>
    <link href="https://rawgit.com/tempusdominus/bootstrap-4/master/build/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <div class="container" align="center" style="margin-top:50px">
        <div class="form-row">
            <div class="form-group col">

                <div class="container">
                    <div class="form-row">
                        <div class="form-group col">
                            <h2>{{ anItem.nombre }} <estado> <font color="white"><var id="myEstado">{{ anItem.estado }}</var> </font> </estado> </h2>
                            </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <p style="margin-top: 20px;"> <img src="{% get_media_prefix %}{{ anItem.imagen }}" width="400" height="400">  </p>
                            </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">  <p style="border-style: dashed solid;border-radius: 10px; padding: 5px;"> {{ anItem.descripcion }} </p>      </div>

                    </div>
                </div>
                <script>
                var estado = document.getElementById("myEstado").innerText;
                if(estado=="En reparacion") {
                    document.documentElement.style.setProperty('--footer-color', 'blue');
                }
                else if(estado=="En prestamo"){
                    document.documentElement.style.setProperty('--footer-color', 'red');
                }
                else if(estado=="Perdido"){
                    document.documentElement.style.setProperty('--footer-color', 'black');
                }
            </script>


            </div>







            <div class="form-group col" style="padding-left: 100px">

                <div class="container" >
                    <div class="form-row" style="padding-bottom: 20px" >
                       <strong>Solicitar Reserva</strong>
                    </div>

                        <div class="form-row"  style=" background-color: #e9ecef;border: 1px solid black; padding-top: 40px;padding-bottom: 20px;padding-right: 20px;padding-left: 10px">
                            <div class="container">

                                <div class="form-group">
                                    <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
                                        <label>Desde: &ensp; </label> <input type="datetime" class="form-control datetimepicker-input" data-target="#datetimepicker7"/>
                                        <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
                                        <label>Hasta: &ensp; </label> <input type="datetime" class="form-control datetimepicker-input" data-target="#datetimepicker8"/>
                                        <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>

                                <input type="submit" value="Pedir" class="button pull-right">

                            </div>

                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker7').datetimepicker();
                                    $('#datetimepicker8').datetimepicker({
                                        useCurrent: false
                                    });
                                    $("#datetimepicker7").on("change.datetimepicker", function (e) {
                                        $('#datetimepicker8').datetimepicker('minDate', e.date);
                                    });
                                    $("#datetimepicker8").on("change.datetimepicker", function (e) {
                                        $('#datetimepicker7').datetimepicker('maxDate', e.date);
                                    });
                                });

                            </script>



                        </div>



                    <div class="form-row" style="padding-top: 100px; padding-bottom: 20px">
                        <strong>Últimos Préstamos</strong>
                    </div>


                    <div class="form-row"  style=" border: 1px solid black; padding-top: 10px;padding-bottom: 10px;padding-right: 10px;padding-left: 10px">
                        01/01/01 01:01 - 05/01/01 01:01 Sebastian Arriola

                    </div>
                </div>



            </div>






        </div>


    </div>




{% endblock %}