{% extends "navbar.html" %}
{% load static %}
{% block body %}

 <head>

        <style>

            :root {
                --footer-color: green;
            }

            estado {
                border-radius: 10px;
                margin: 20px;
                padding: 5px;
                background-color: var(--footer-color);
            }


        </style>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


    </head>





    <div class="container" align="center">
        <div class="form-row">
            <div class="form-group col" style="max-width: 500px">

                <div class="container" style="max-width: 500px">
                    <div class="form-row">
                        <div class="form-group col">
                            <h2>{{ anItem.nombre }} <estado> <font color="white"><var id="myEstado">{{ anItem.estado }}</var> </font> </estado> </h2>
                            </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <p style="margin-top: 20px;"> <img src="{% get_media_prefix %}{{ anItem.imagen }}" width="300" height="300">  </p>
                            </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">  <p style="border-style: dashed solid;border-radius: 10px; padding: 5px;"> {{ anItem.descripcion }} </p>      </div>

                    </div>
                </div>
                <script>
                var estado = document.getElementById("myEstado").innerText;
                if(estado=="En reparacion") {
                    document.documentElement.style.setProperty('--footer-color', 'blue');
                }
                else if(estado=="En prestamo"){
                    document.documentElement.style.setProperty('--footer-color', 'red');
                }
                else if(estado=="Perdido"){
                    document.documentElement.style.setProperty('--footer-color', 'black');
                }
            </script>


            </div>







            <div class="form-group col" style=" padding-left: 100px">

                <div class="container" >

                    <div class="form-row" style="padding-bottom: 10px; padding-top: 15px" >
                       <h4><strong>Solicitar Reserva:</strong></h4>
                    </div>

                    <div class="form-row" align="left">
                       Presione la casilla a continuación para indicar fecha y hora de inicio y término del préstamo.
                    </div>

                        <div class="form-row"  style=" background-color: #e9ecef;border: 1px solid black; padding-top: 40px;padding-bottom: 20px;padding-right: 20px;padding-left: 10px">


                            <div class="container">


                                <div class="form-row" style="padding-left: 100px" >

                                    <input type="text" name="datetimes" style="min-width: 250px;" />




                                    <script>
                                        $('input[name="datetimes"]').daterangepicker({
                                            timePicker: true,
                                            startDate: moment().startOf('hour').add(2, 'hour'),
                                            endDate: moment().startOf('hour').add(26, 'hour'),
                                            locale: {
                                                format: 'M/DD hh:mm A',
                                                separator: " - ",
                                                applyLabel: "Aceptar",
                                                cancelLabel: "Cancelar",
                                                fromLabel: "Desde",
                                                toLabel: "Hasta",
                                                daysOfWeek: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                                                monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                                                firstDay: 1
                                            }
                                        });

                                    </script>

                                </div>


                                <input type="submit" value="Pedir" class="button pull-right">

                            </div>





                        </div>



                    <div class="form-row" style="padding-top: 30px; padding-bottom: 10px">
                       <h4><strong>Últimos Préstamos:</strong></h4>
                    </div>


                    <div class="form-row"  style=" border: 1px solid black; padding-top: 10px;padding-bottom: 10px;padding-right: 10px;padding-left: 10px">
                       <li> 01/01/01 01:01 - 05/01/01 01:01 Sebastian Arriola </li>
                        <li> 01/01/01 01:01 - 05/01/01 01:01 Sebastian Arriola </li>
                        <li> 01/01/01 01:01 - 05/01/01 01:01 Sebastian Arriola </li>
                        <li> 01/01/01 01:01 - 05/01/01 01:01 Sebastian Arriola </li>
                        <li> 01/01/01 01:01 - 05/01/01 01:01 Sebastian Arriola </li>
                        <li> 01/01/01 01:01 - 05/01/01 01:01 Sebastian Arriola </li>
                        <li> 01/01/01 01:01 - 05/01/01 01:01 Sebastian Arriola </li>
                        <li> 01/01/01 01:01 - 05/01/01 01:01 Sebastian Arriola </li>
                        <li> 01/01/01 01:01 - 05/01/01 01:01 Sebastian Arriola </li>
                        <li> 01/01/01 01:01 - 05/01/01 01:01 Sebastian Arriola </li>

                    </div>
                </div>



            </div>






        </div>


    </div>



{% endblock %}